.employer{
        width: 700px;
        height: auto;
        margin: 20px;
        border-left: 5px solid var(--primary-color);}

mat-card-title{
    color: var(--primary-color);

}
.project{
    margin: 20px;
.projectname{
    color: var(--primary-color);
}
}
.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .skill{
        font-size: 18px;
        min-width: 80px;
        padding: 0px 15px;
        width: max-content;
        height: 40px;
        background-color: var(--primary-color);
        color: var(--text-color);
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}

@media screen and (min-width:600px) and (max-width:700px) {
        .employer{
            width: 550px ;
        }
    .skills{
        .skill{
            font-size: 16px;
            min-width: 60px;
        }
    }
}
@media screen and (min-width:500px) and (max-width:600px) {
        .employer{
            width: 450px ;
        }
    .skills{
        .skill{
            font-size: 14px;
            min-width: 50px;
        }
    }
}
@media screen and (min-width:400px) and (max-width:500px) {
        .employer{
            width: 370px ;
        }
    .skills{
        .skill{
            font-size: 14px;
            min-width: 40px;
        }
    }
}
@media screen and (min-width:300px) and (max-width:400px) {
        .employer{
            width: 300px ;
        }
    .skills{
        .skill{
            font-size: 14px;
            min-width: 40px;
        }
    }
}

li{
    list-style: decimal;
}
.techStack{
    margin-top: 10px;
}
