.employer{
        width: 700px;
        height: auto;
        margin: 20px;
}
h2{
    color: var(--primary-color);
}
.work{
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (min-width:600px) and (max-width:700px) {
        .employer{
            width: 550px ;
        }
    
}
@media screen and (min-width:500px) and (max-width:600px) {
        .employer{
            width: 450px ;
        }
   
}
@media screen and (min-width:400px) and (max-width:500px) {
        .employer{
            width: 370px ;
        }
   
}
@media screen and (min-width:300px) and (max-width:400px) {
        .employer{
            width: 300px ;
        }
    
}
