<ng-container *ngIf="(skillService.loading$ | async);else showSkills">
    <h1>Loading Skills.....</h1>
</ng-container>

<ng-template #showSkills>

    <ng-container *ngIf="(skillService.skills$|  async) as skills;else showError">

        <ng-container *ngIf="skills.length > 0; else noSkills">

         <div class="container">
            
            <h1 class="heading">Tech stack I've worked with,</h1>
            <div class="skills">
 
 
                 <app-skill *ngFor="let skill of skills" 
                 [skill]="skill" 
                 [class]="skill.name"
                 >
                 </app-skill>
            </div>
         </div>

        </ng-container>

        <ng-template #noSkills>
            <h1>No Skills :(</h1>
        </ng-template>

    </ng-container>

    <ng-template #showError>
        <h1>Couldn't load skills :(</h1>
    </ng-template>

</ng-template>