h1{
    font-size: 28px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    margin: 5vh;
}
.container{
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.skills{
    width: 90%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);

    grid-gap:15px;

    justify-items: center;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    

}
@media screen and (min-width:800px) and (max-width:1100px) {
    .skills{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(4,1fr);
    
        
        grid-gap:15px;
    
        justify-items: center;
        justify-content: center;
        align-items: center;
        min-height: 300px;
    
    }
}

@media screen and (min-width:650px) and (max-width:800px) {
    .skills{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(4,1fr);
    
       
        grid-gap:15px;
    
        justify-items: center;
        justify-content: center;
        align-items: center;
        min-height: 300px;

    
    }
}

@media screen and (min-width:500px) and (max-width:650px) {
    .skills{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    
      
        grid-gap:15px;
    
        justify-items: center;
        justify-content: center;
        align-items: center;
        min-height: 300px;
    }
}

@media screen and (min-width:300px) and (max-width:500px) {

    .skills{
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(2,1fr);
    
        grid-gap:15px;
    
        justify-items: center;
        justify-content: center;
        align-items: center;
        min-height: 300px;

    }
}