
h1{
    font-size: 28px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    margin: 5vh;
}

.employers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // justify-content: space-evenly;
    margin-top: 20px;
    min-height: calc(100vh - 80px);
    .employer{
        width: 700px;
        height: auto;
        margin: 20px;
    }
}



@media screen and (min-width:600px) and (max-width:700px) {
    .employers{
        .employer{
            width: 550px ;
        }
    }
    
}
@media screen and (min-width:500px) and (max-width:600px) {
    .employers{
        .employer{
            width: 450px ;
        }
    }
   
}
@media screen and (min-width:400px) and (max-width:500px) {
    .employers{
        .employer{
            width: 370px ;
        }
    }
   
}
@media screen and (min-width:300px) and (max-width:400px) {
    .employers{
        .employer{
            width: 300px ;
        }
    }
   
}
