<ng-container *ngIf="(experienceService.loading$ | async);else showEmployers">
    <h1>Loading Experiences....</h1>
</ng-container>

<ng-template #showEmployers>

    <ng-container *ngIf="(experienceService.employers$ | async) as employers">

        <ng-container *ngIf="employers.length > 0;else noExperience">

            
           <div class="employers">
            <h1 class="experience-heading-animate">I've helped build products for,</h1>

            <app-experience *ngFor="let employer of employers;let i = index" 
            [employer]="employer"
            [class]="i | cssClass : 'experience-animate-' "
            >
            </app-experience>
           </div>
        </ng-container>

        <ng-template #noExperience>
            <h1>No Past Experience :(</h1>
        </ng-template>

    </ng-container>

</ng-template>