.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}
mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 300px;
    padding: 40px !important;
    height: auto;
    border-radius: 20px;
    // animation: card-animate 2s ease-in-out ;
}

@keyframes card-animate {
    0%{
        opacity: 1;
        transform: scale(0);
    }
    33%{
        opacity:1;
        transform: scale(1);
    }
    66%{
        opacity: 1;
        transform: scale(0.25);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
mat-card-actions{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
img{
    background:var(--primary-color);
    border-radius: 50%;
}
h1{
    color: var(--primary-color);
    margin: 10px;
    font-size: 30px;
}
h2{
    margin: 5px;
    font-size: 22px;
}
a svg{
    fill: var(--icon-color);
    transition:transform 1s ;
    &:hover{
        fill:var(--primary-color);
        transform: scale(0.9)
    }
}


.move-left{
  animation: left-animate 1.5s ease-in-out;
}

@keyframes left-animate {
    0%{
        opacity: 0;
        transform: translateX(120px);
    }
    33%{
            opacity: 0;
            transform: translateX(120px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.move-right{
    animation: right-animate 1.5s ease-in-out;
  }
  

@keyframes right-animate {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    33%{
        opacity: 0;
        transform: translateX(-120px);
}
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.center{
    animation: appear-animate 0.5s ease-in-out;
  }
  

@keyframes appear-animate {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width:450px) {
    mat-card{
        width: 300px;
        min-height: 500px;
        border-radius: 5px;
    }

    @keyframes right-animate {
        0%{
            opacity: 0;
            transform: translateX(-100px);
        }
        33%{
            opacity: 0;
            transform: translateX(-100px);
    }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes left-animate {
        0%{
            opacity: 0;
            transform: translateX(100px);
        }
        33%{
                opacity: 0;
                transform: translateX(100px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}